.header {
    grid-area: h;
    display: grid;
    grid-template-areas: "l b";
    grid-template-columns: 1fr 10fr;
    justify-content: center;
    align-items: center;
    background-color: darkmagenta;
    border: 2px solid;
    border-radius: 20px;
    padding-left: 30px;
}

.buttons {
    grid-area: b;
    display: flex;
    align-content: center;
    justify-content: center;
}

.button {
    border: 1px solid;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: magenta;
    margin: 0 20px;
}

#logo {
    grid-area: l;
    width: 50px;
    border-radius: 10px;
}