.add_comment {
    display: grid;
    grid-template-areas: "text ava" "text button";
    grid-template-columns: 10fr 1fr;
    padding: 10px;
    margin: 10px;
}

.text_area {
    resize: none;
    grid-area: text;
    justify-self: end;
    padding: 10px 20px;
    margin: 0 15px 5px 15px;
    border: 1px solid;
    border-radius: 15px;
    width: 575px;
    height: 70px;
    background-color: magenta;
}

.button {
    grid-area: button;
    width: 70px;
    margin: 0;
    border: 1px solid;
    border-radius: 100px;
    background-color: magenta;
    justify-self: end;
}

.button:hover {

}

.user_ava {
    grid-area: ava;
    width: 70px;
    height: 70px;
    margin: 0 0 0 10px;
    border: 1px solid magenta;
    border-radius: 100px;
    justify-self: end;
}