.nav {
    grid-area: n;
    background-color: blueviolet;
    border: 2px solid;
    border-radius: 30px;
    height: 150px;
    padding: 20px;
    margin-top: 25px;
}

.item {
    margin: 5px 0;
}

.link_line {
    border-radius: 15px;
    padding: 0 15px;
    background-color: magenta;
}

