.parent {
    display: grid;
    grid-template-areas: "ava dialog";
    grid-template-columns: 1fr 9fr;
}

.mess_ava {
    grid-area: ava;
    border: 3px solid magenta;
    border-radius: 88px;
    width: 81px;
    max-height: 77vh;
}

.dialog {
    grid-area: dialog;
    border: 3px solid magenta;
    border-radius: 50px;
    padding: 20px 15px;
}