.parent {
    background-image: url("https://wallpaperaccess.com/full/1372684.jpg");
    background-size: contain;
    background-attachment: fixed;
}

.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1100px;

    grid-template-areas: "h h" "c n";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 10fr 2fr;
}