.content_item {
    background: rgba(0, 0, 0, 0);
}

.user_ava {
    width: 70px;
    height: 70px;
    margin: 0;
    border-radius: 100px;
}

.line {
    grid-area: line;
    text-align: center;
    border: 1px solid;
    border-radius: 15px;
    width: 500px;
    margin: auto;
    background-color: magenta;
}

.post_div {
    padding: 10px;
    margin: 10px;
}
